.mapArea {
  width: calc(65%);
  height: calc(100%);
  left: 0px;
  top: 16px;
  background-color: palevioletred;
  position: absolute;
}

.detailsArea {
  display: block;
  position: absolute;
  width: calc(35%);
  height: calc(100%);
  left: calc(65%);
  top: 16px;
  background-color: white;
  overflow: scroll;
}

.fillParent {
  display: block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
}

.mapViewArea {
  height: calc(100%);
}

