.fieldList {
    display: block;
}

.settingsContent {
    display:block;
    width: calc(25%);
    height: calc(90%);
    padding-top:72px;
    margin: auto;
    background-color: E0E0E0;
}

.fieldItem{
    padding:8px;
}

.settingsAddButton{
    float: right;
}