#locationDialog {
    width: calc(100%)
}

.dataInput{
    margin: 8px;
    width: calc(95%)
}

.showEmpty, .location{
    float: right;
    margin-right: 16px
}
.country, .description, .locationTitle, .location, shortName, .facilities{
    margin: 8px
}


.locationTitle {
    width: calc(75%);
}

#locationTitle {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
}

#country, #shortName {
    font-size: 24px;
    margin-bottom: 8px;
}

.country, .description, .facilities{
    width: 95%;
}
