.mapArea {
  width: calc(65%);
  height: calc(100%);
  left: 0px;
  top: 56px;
  background-color: palevioletred;
  position: absolute;
}

.detailsArea {
  display: block;
  position: absolute;
  width: calc(35%);
  height: calc(100%);
  left: calc(65%);
  top: 56px;
  background-color: white;
  overflow: scroll;
}

.search-area {
  position: absolute;
  width: calc(100% - 60px);
  height: calc(65px);
  left: 55px;
  top: 15px;
  z-index: 999;
  display: flex; /* Overridden in-line to hide when viewing dialog*/
  flex-direction: row
}

.fillParent {
  display: block;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  margin: 2px;
}

.mapViewArea {
  height: calc(100%);
}